<div *ngIf="data; else loading" class="cmp-container">
  <div>
    <label>Name: {{data.name}}</label>
  </div>
  <div>
    <label>Classification: {{data.classification}}</label>
  </div>
  <div>
    <label>Designation: {{data.designation}}</label>
  </div>
  <div>
    <label>Average height: {{data.average_height |  number:'1.2-2'}} cm. </label>
  </div>
  <div>
    <label>Skin colors: {{data.skin_colors}}</label>
  </div>
  <div>
    <label>Hair colors: {{data.hair_colors}}</label>
  </div>
  <div>
    <label>Average lifespan: {{data.average_lifespan |  number:'1.2-2'}} years </label>
  </div>
  <div>
    <label>Homeworld: {{data.homeworld}}</label>
  </div>
  <div>
    <label>Language: {{data.language}}</label>
  </div>
</div>

<ng-template #loading>
  <div class="loading-animation"></div>
  <p>Loading...</p>
</ng-template>

