<div *ngIf="data; else loading" class="cmp-view-container">
  <p>
    <b>Name</b>
    {{data.name}}
  </p>
  <p>
    <b>Classification</b>
    {{data.classification}}
  </p>
  <p>
    <b>Designation</b>
    {{data.designation}}
  </p>
  <p>
    <b>Average height</b>
    {{data.average_height |  number:'1.2-2'}} cm.
  </p>
  <p>
    <b>Skin colors</b>
    {{data.skin_colors}}
  </p>
  <p>
    <b>Hair colors</b>
    {{data.hair_colors}}
  </p>
  <p>
    <b>Average lifespan</b>
    {{data.average_lifespan |  number:'1.2-2'}} years.
  </p>
  <p>
    <b>Homeworld</b>
    <a href='/star-war/{{data.homeworld.slice(-10)}}' target='blank'>
      Click to see {{data.name}} homeworld infomation.
    </a>
  </p>
  <p>
    <b>Language</b>
    {{data.language}}
  </p>
</div>

<ng-template #loading>
  <div class="loading-animation"></div>
  <p>Loading...</p>
</ng-template>

