html{font-family:sans-serif;font-size:16px}.cmp-nav{display:block}.cmp-nav>ul{display:block;list-style:none}.cmp-nav>ul>li{display:inline-block;padding:4px}.cmp-nav>a{color:#00f;text-decoration:none}
