<div class="input-container">
  <button type="button" (click)="dataService.addSection()" class="example-button-add">
    <i class="material-icons">
      add
    </i>
    <a>Add Section</a>
  </button>
</div>
<div *ngFor="let item of dataService.getData() as data ; let i = index;">
  <div>
    <h2>
      Section {{ i+1 }}
      <button type="button" (click)="dataService.removeSection(i)" [disabled]="data.length === 1" class="example-button-del">
        <i class="material-icons">
          delete_forever
        </i>
        <a>Delete</a>
      </button>
    </h2>
  </div>
  <app-example-section-container
  [items]="item"
  (update)="dataService.updateItem(i,$event.index,$event.value)"
  (add)="dataService.addItem(i)"
  (delete)="dataService.removeItem(i, $event)"></app-example-section-container>
  <div class="section-total">
    <b>Total >> {{totalInput(item)}}</b>
  </div>
  <hr >
</div>
