<div *ngIf="data; else loading" class="cmp-container">
  <div>
    <label>Name: {{data.name}}</label>
  </div>
  <div>
    <label>Gender: {{data.gender}}</label>
  </div>
  <div>
    <label>Birth Year: {{data.birth_year}}</label>
  </div>
  <div>
    <label>Height: {{data.height | number:'1.2-2'}} cm </label>
  </div>
  <div>
    <label>Mass: {{data.mass | number:'1.2-2'}} kg </label>
  </div>
</div>

<ng-template #loading>
  <div class="loading-animation"></div>
  <p>Loading...</p>
</ng-template>

